<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfunds.fds.mapper.SalesLeaderMapper">

	<insert id="insert" parameterType="com.myfunds.fds.entity.SalesLeader">
		INSERT INTO `salesLeader` (`lid`, `name`, `mail`, `team`)
		VALUES (#{lid}, #{name}, #{mail}, #{team})
	</insert>

	<delete id="deleteByLid" parameterType="java.lang.String">
		DELETE FROM `salesLeader` WHERE `lid` = #{lid}
	</delete>

	<update id="update" parameterType="com.myfunds.fds.entity.SalesLeader">
		UPDATE `salesLeader`
		SET `name` = #{name}, `mail` = #{mail}, `team` = #{team}
		WHERE `lid` = #{lid}
	</update>

	<sql id="select_sql">
		SELECT `lid`, `name`, `mail`, `team` from `salesLeader`
	</sql>

	<select id="selectByLid" resultType="com.myfunds.fds.entity.SalesLeader">
		<include refid="select_sql"></include>
		WHERE `lid` = #{lid}
	</select>

	<select id="selectAll" resultType="com.myfunds.fds.entity.SalesLeader">
		<include refid="select_sql"></include>
	</select>

	<!-- ================================== 查询相关 ================================== -->
	
</mapper>
